<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=1200" />
    <title>Knockout Demo</title>
    @*<link href="http://localhost:8080/static/src/InfoTrack.Reveal.Web/Stylesheets/dist/reveal.css" rel="stylesheet" type="text/css" />*@
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/knockout/dist/knockout.debug.js"></script>
</head>
<body>
    <script src="~/dist/bundle.js"></script>

    @RenderBody()
</body>
</html>
