<h1 data-bind="browser: 'Firefox'"></h1>
<h1 data-bind="browser: 'Chrome'"></h1>
<h1 data-bind="browser: 'IE'"></h1>

<script>
    $(document).ready(function () {
        ko.applyBindings();
    });
</script>
