<span data-bind="browser: 'IE'"></span><br />
<span data-bind="browser: 'Firefox'"></span><br />
<span data-bind="browser: 'Chrome'"></span>

<script>
    $(document).ready(function () {
        ko.applyBindings();
    });
</script>
