<table class="ui basic table">
    <thead>
        <tr>
            <th style="width: 200px">Name</th>
            <th>Birthday</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: entries, bulk: { canAdd: 'isValid', addNew: addNew }">
        <tr>
            <td>
                <div class="ui input">
                    <input data-bind="textInput: name" />
                </div>
            </td>
            <td>
                <date-picker params="{ value: dob, defaultDate: '01/01/1985' }" />
            </td>
        </tr>
    </tbody>
</table>

<script>
    var PersonViewModel = function() {
        this.name = ko.observable();
        this.dob = ko.observable();
        this.isValid = ko.computed(function() {
            return (this.name() || '').trim();
            // return (this.name() || '').trim().length > 4;
        }.bind(this));
    };

    var ListViewModel = function() {
        this.entries = ko.observableArray([new PersonViewModel()]);
        this.addNew = function() {
            return new PersonViewModel();
        };
    };

    ko.applyBindings(new ListViewModel());
</script>
