<div class="ui three column grid">
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header"><a asp-controller="Home" asp-action="Browser">Browser</a></div>
                <div class="meta">custom binding</div>
                <div class="description">
                    <p>A very simaple, basic binding sample</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header"><a asp-controller="Home" asp-action="Markdown">Markdown</a></div>
                <div class="meta">custom binding</div>
                <div class="description">
                    <p>A typical example</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header"><a asp-controller="Home" asp-action="HelloWorld">Hello World</a></div>
                <div class="meta">component</div>
                <div class="description">
                    <p>A very simaple, basic component sample</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header"><a asp-controller="Home" asp-action="DatePicker">Date Picker</a></div>
                <div class="meta">custom binding + component</div>
                <div class="description">
                    <p>Both custom binding and component techniques</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header"><a asp-controller="Home" asp-action="BulkSearch">Bulk Search</a></div>
                <div class="meta">custom binding + component</div>
                <div class="description">
                    <p>Advanced custom binding + component sample</p>
                </div>
            </div>
        </div>
    </div>
</div>
