<a asp-controller="Home" asp-action="Browser">Browser</a><br />
<a asp-controller="Home" asp-action="HelloWorld">Hello World</a><br/>
<a asp-controller="Home" asp-action="DatePicker">Date Picker</a><br />
<a asp-controller="Home" asp-action="BulkSearch">Bulk Search</a>